// Brand colors
$_cardif-blue: #302F7C;
$_cardif-backgroundColor: #F1F1F1;


// Pure colors
$_white: white;
$_black: black;

$_aqua: #5ACFC6;
$_salmon: #EF7150;

$_light-blue: #4DA0B3;
$_violet: #A44078;

$_green: #429459;
$_green-whatsApp: #5CAF2C;
$_opaque-green: #2A685F;
$_lemon-green: #93D351;
$_field-green: #a3c539;

  // Gray scale
$_opaque-black: #333333;
$_light-black: #414141;
$_dark-gray: #525252;
$_gray: #707070;
$_opaque-gray: #6f6f6e;
$_light-gray: #e1e1e1;
$_gray-blue: #e6e6e6;

// generic usage colors
$primary-color: $_cardif-blue;

// atoms
$wa-button: $_green-whatsApp;

// molecules
$card-backgroundColor: $_cardif-backgroundColor;
$cardLogo-BackgroundColorViolet: $_violet;
$cardLogo-BackgroundColorLightBlue : $_light-blue;
$cardLogo-BackgroundColorAqua : $_aqua;
$cardLogo-BackgroundColorLemonGreen : $_lemon-green;
$cardLogo-BackgroundColorFieldGreen : $_field-green;

// Text
$primary-button-text-color: $_white;

$menu-color: $_white;
$footer-color: $_white;


//elements


//sections


// Effects
$shadow-color: $_light-black;






