@mixin main_container($vertical-align: center, $horizontal-align: center)
{
  display: flex;
  flex-wrap: wrap;
  align-items: $vertical-align;
  justify-content: $horizontal-align;
}

@mixin secondary_container($vertical-align: center, $horizontal-align: center)
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: $vertical-align;
  justify-content: $horizontal-align;
}

@mixin background_container($background-image)
{
  background-image: url($background-image);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}