@use "../settings/variables";
@use "../tools/mixins";

.a-title-text
{
  @include mixins.secondary_container();
  width: 40rem;
  padding: 1rem;
  align-items: flex-start;
  text-align: justify;
  color: variables.$second-text-color;

  p
  {
    margin-top: 1rem;
  }

  h1
  {
    color: variables.$primary-text-color;
  }
}